torch==2.2.2
torchvision==0.17.2
numpy==1.23.0
transformers==4.39.3
dill==0.3.8
tensorboard==2.12.0
joblib==1.5.1
#The following are optional (just for visualization)
scikit-image==0.21.0
kornia==0.7.3
yacs==0.1.8
chumpy==0.70


#pytorch3d==0.7.8